/* * {
  box-sizing: border-box;
  border: 0.5px solid red;
} */

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* bottom: 0; */
  background-color: #ECEFF4;
  font-family: Roboto, Georgia, serif;
  color: #3B4252;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.title {
  text-align: center;
  padding: 20px;
  margin: 0;        /*????*/
  margin-top: 40px;
  font-size: 4vw;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.button_undo {
  height: 5vw;
  width: 10vw;
  align-self: flex-end;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #4C566A;
  color: #cbe2e9;
  font-size: 1.2vw;
  font-weight: bold;
}

.button_undo:hover {
  background-color: #434C5E;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button_undo:disabled {
  background-color: #b3b7be;
  transition: none;
  cursor: not-allowed;
}

.panel_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ECEFF4;
}

.panel {
  position: relative;
  align-content: center;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px;
  background-color: #D8DEE9;
}

.panel_title {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 16vw;
}

.panel_title_text {
  height: 100%;
  text-align: center;
  font-size: 2vw;
  /* line-height: 1; */
}

.panel_cards {
  margin-top: 8vh;
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 320px);
}

.card {
  position: relative;
  display: flex;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 0.5px solid #3B4252;
  border-radius: 5px;
  box-shadow: 1px 2px 5px;
  background-color: #ECEFF4;
  font-size: 1.2vw;
  line-height: 1.3;
}

.card:hover {
  background-color: #d7e1f3;
}

.card_description {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 14vw;
}

.card_errorname {
  margin-top: 0;
  margin-bottom: 0;
}

.card_text {
  margin-top: 0;
  margin-bottom: 0;
}

.button_move {
  height: 5vw;
  max-width: 10vw;
  min-width: 70px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #88C0D0;
  font-size: 1.2vw;
}

.button_move:hover {
  background-color: #57b8d3;
  /* transition: 0.3s ease-in-out; */
  cursor: pointer;
}

@font-face {
  src: url(./fonts/roboto-regular-webfont.woff) format('woff');
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
